@model IEnumerable<BTL.Data.Lecture>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quản lý bài giảng</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="~/courses-master/courses-master/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="~/courses-master/courses-master/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/courses-master/courses-master/assets/img/favicon.ico">
    <script src="~/kaiadmin-lite-1.2.0/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["~/kaiadmin-lite-1.2.0/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/kaiadmin-lite-1.2.0/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/kaiadmin-lite-1.2.0/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/kaiadmin-lite-1.2.0/assets/css/kaiadmin.min.css" />
    @* CourseCss *@
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slick.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/style.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/kaiadmin-lite-1.2.0/assets/css/demo.css" />

    <style>
        .image-column {
            max-width: 150px;
            /* Adjust the width as needed */
            word-wrap: break-word;
        }

        .video-url-column {
            max-width: 150px;
            /* Adjust the width as needed */
            word-wrap: break-word;
        }

        .content-column {
            width: 500px !important;
            max-height: 150px;
            overflow-y: auto;
            word-wrap: break-word;
            white-space: normal;
            text-align: justify;
            padding: 0 !important;
        }

        /* Ensure the modal has a higher z-index than the select dropdown */
        .modal {
            z-index: 1050; /* Bootstrap default for modals */
        }

        /* Adjust the z-index of the select dropdown if necessary */
        select {
            z-index: 1060; /* Higher than the modal */
            position: relative; /* Ensure z-index is applied */
        }
    </style>
</head>

<body>
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                                        <li class="breadcrumb-item"><a href="/QuanLyBaiGiang/Index">Quản lý bài Giảng</a></li>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <div class="main-panel">
            <div class="container">
                <div class="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Danh sách bài giảng</h4>
                                        <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal"
                                                data-bs-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            Thêm bài giảng
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Modal Add -->
                                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title">
                                                        <span class="fw-mediumbold"> Thêm</span>
                                                        <span class="fw-light"> Bài giảng </span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">
                                                        Vui lòng điền đầy đủ thông tin của bài giảng bạn muốn thêm !
                                                    </p>
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Tên bài giảng</label>
                                                                    <input id="lectureName" type="text" class="form-control"
                                                                           placeholder="Tên bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Thông tin khóa học</label>
                                                                    <select id="courseSelect">
                                                                        <option value="1">Lập trình căn bản</option>
                                                                        <option value="2">Thuật toán và cấu trúc dữ liệu</option>
                                                                        <option value="3">Mạng máy tính</option>
                                                                        <option value="4">Trí tuệ nhân tạo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-0">
                                                                <div class="form-group form-group-default">
                                                                    <label>Ảnh minh họa</label>
                                                                    <input id="image" type="text" class="form-control" placeholder="Đường dẫn hình ảnh" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Tiêu đề bài giảng</label>
                                                                    <input id="title" type="text" class="form-control"
                                                                           placeholder="Tiêu đề ca bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Nội dung bài giảngs</label>
                                                                    <input id="content" type="text" class="form-control"
                                                                           placeholder="Nội dung của bài giảng của bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Video bài giảng</label>
                                                                    <input id="videoUrl" type="text" class="form-control"
                                                                           placeholder="Đường dẫn tới video của bài giảng" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" id="addRowButton" class="btn btn-primary">
                                                        Thêm
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                            onclick="clearModalFields()">
                                                        Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Edit -->
                                    <div class="modal fade" id="editRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title">
                                                        <span class="fw-mediumbold"> Sửa</span>
                                                        <span class="fw-light"> Bài giảng </span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">
                                                        Vui lòng điền đầy đủ thông tin của bài giảng bạn muốn sửa!
                                                    </p>
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Tên bài giảng</label>
                                                                    <input id="lectureNameEdit" type="text" class="form-control"
                                                                           placeholder="Tên bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Thông tin khóa học</label>
                                                                    <input id="courseInfoEdit" type="text" class="form-control"
                                                                           placeholder="Thông tin khóa học" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-0">
                                                                <div class="form-group form-group-default">
                                                                    <label>Ảnh minh họa</label>
                                                                    <input id="imageEdit" type="text" class="form-control"
                                                                           placeholder="Đường dẫn hình ảnh" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Tiêu đề bài giảng</label>
                                                                    <input id="titleEdit" type="text" class="form-control"
                                                                           placeholder="Tiêu đề bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Nội dung bài giảng</label>
                                                                    <input id="contentEdit" type="text" class="form-control"
                                                                           placeholder="Nội dung của bài giảng" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Video bài giảng</label>
                                                                    <input id="videoUrlEdit" type="text" class="form-control"
                                                                           placeholder="Đường dẫn tới video của bài giảng" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" id="updateRowButton" class="btn btn-primary">
                                                        Lưu
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                            onclick="clearModalFields()">
                                                        Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Id Bài Giảng</th>
                                                    <th>Tên Bài Giảng</th>
                                                    <th>Hình Ảnh</th>
                                                    <th>Tiêu Đề</th>
                                                    <th>Nội Dung</th>
                                                    <th>Đường dẫn Video</th>
                                                    <th>Đánh Giá</th>
                                                    <th>Lượt Xem</th>
                                                    <th>Số Lượng Đánh Giá</th>
                                                    <th>Thông Tin Khóa Học</th>
                                                    <th>Ngày Tải Lên</th>
                                                    <th>Ngày Cập Nhật</th>
                                                    <th style="width: 10%">Hành Động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LectureId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LectureName)
                                                        </td>
                                                        <td class="image-column">
                                                            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Lecture Image"
                                                                 style="width: 100%;" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td class="content-column" style="padding: 5px !important;">
                                                            @Html.DisplayFor(modelItem => item.Content)
                                                        </td>
                                                        <td class="video-url-column">
                                                            @Html.DisplayFor(modelItem => item.VideoUrl)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Rating)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Views)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ReviewCount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CourseInfo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                                                        </td>
                                                        <td>
                                                            <div class="form-button-action">
                                                                @* <button type="button" data-bs-toggle="modal" data-bs-target="#editRowModal"
                                                                        data-lecture-name="@item.LectureName" data-course-info="@item.CourseInfo"
                                                                        data-image="@item.Image" data-title="@item.Title" data-content="@item.Content"
                                                                        data-video-url="@item.VideoUrl" class="btn btn-link btn-primary btn-lg">
                                                                    <i class="fa fa-edit">Sửa</i>
                                                                </button> *@
                                                                <button type="button" data-bs-toggle="modal" data-bs-target="#editRowModal"
                                                                        data-lecture-id="@item.LectureId" class="btn btn-link btn-primary btn-lg">
                                                                    <i class="fa fa-edit">Sửa</i>
                                                                </button>
                                                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger"
                                                                        data-original-title="Remove" onclick="deleteLecture(@item.LectureId)">
                                                                    <i class="fa fa-times">Xóa</i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/courses-master/courses-master/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/popper.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/bootstrap.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.slicknav.min.js"></script>

    <script src="~/courses-master/courses-master/assets/js/owl.carousel.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/slick.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/wow.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/animated.headline.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.magnific-popup.js"></script>

    <script src="~/courses-master/courses-master/assets/js/gijgo.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.sticky.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.barfiller.js"></script>

    <script src="~/courses-master/courses-master/assets/js/jquery.counterup.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/waypoints.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.countdown.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/hover-direction-snake.min.js"></script>

    <script src="~/courses-master/courses-master/assets/js/contact.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.form.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.validate.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/mail-script.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/courses-master/courses-master/assets/js/plugins.js"></script>
    <script src="~/courses-master/courses-master/assets/js/main.js"></script>

    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/popper.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/bootstrap.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/kaiadmin.min.js"></script>
    <script src="~/kaiadmin-lite-1.2.0/assets/js/setting-demo2.js"></script>


    <script>
        $(document).ready(function () {
            const dataTableOptions = {
                pageLength: 5,
                columns: [
                    { title: "Id Bài Giảng" },
                    { title: "Tên Bài Giảng" },
                    { title: "Hình Ảnh" },
                    { title: "Tiêu Đề" },
                    { title: "Nội Dung" },
                    { title: "Đường dẫn Video" },
                    { title: "Đánh Giá" },
                    { title: "Lượt Xem" },
                    { title: "Số Lượng Đánh Giá" },
                    { title: "Thông Tin Khóa Học" },
                    { title: "Ngày Tải Lên" },
                    { title: "Ngày Cập Nhật" },
                    { title: "Hành Động" }
                ]
            };

            $("#add-row").DataTable(dataTableOptions);

            $("#multi-filter-select").DataTable({
                ...dataTableOptions,
                initComplete: function () {
                    this.api().columns().every(function () {
                        const column = this;
                        const select = $('<select class="form-select"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                const val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column.search(val ? "^" + val + "$" : "", true, false).draw();
                            });

                        column.data().unique().sort().each(function (d) {
                            select.append('<option value="' + d + '">' + d + "</option>");
                        });
                    });
                }
            });

            const actionButtons = `
                <div class="form-button-action">
                  <button type="button" data-bs-toggle="tooltip" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" data-bs-toggle="tooltip" class="btn btn-link btn-danger" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                  </button>
                </div>`;
            //Hiện thông tin bài giảng lên modal
            $('#editRowModal').on('shown.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const modal = $(this);
                const lectureId = button.data('lecture-id');
                modal.data('lecture-id', lectureId);

                $.ajax({
                    url: `/QuanLyBaiGiang/ShowModalData/${lectureId}`,
                    method: 'GET',
                    success: function (response) {
                        console.log('Response received:', response);
                        if (response.success) {
                            const data = response.data;
                            $('#lectureNameEdit').val(data.lectureName);
                            $('#courseInfoEdit').val(data.courseInfo);
                            $('#imageEdit').val(data.image);
                            $('#titleEdit').val(data.title);
                            $('#contentEdit').val(data.content);
                            $('#videoUrlEdit').val(data.videoUrl);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        console.error('Error fetching modal data:', error);
                    }
                });
            });
            //Button update dữ liệu của modal
            $('#updateRowButton').click(function () {
                const lectureId = $('#editRowModal').data('lecture-id').trim();
                const lectureData = {
                    LectureId: lectureId,
                    LectureName: $('#lectureNameEdit').val(),
                    CourseInfo: $('#courseInfoEdit').val(),
                    Image: $('#imageEdit').val(),
                    Title: $('#titleEdit').val(),
                    Content: $('#contentEdit').val(),
                    VideoUrl: $('#videoUrlEdit').val(),
                    Rating: 0,
                    Views: 0,
                    ReviewCount: 0,
                    CourseId: 0,
                    CreatedAt: new Date().toISOString(),
                    UpdatedAt: new Date().toISOString()
                };

                fetch(`/QuanLyBaiGiang/Update/${lectureId}`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(lectureData)
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.success ? 'Bài giảng đã được cập nhật thành công!' : 'Có lỗi xảy ra khi cập nhật bài giảng.');
                        if (data.success) location.reload();
                    })
                    .catch(error => console.error('Error:', error));
            });

            $('#addRowButton').click(function () {
                const lectureData = {
                    LectureName: $('#lectureName').val(),
                    CourseInfo: $('#courseInfo').val(),
                    Image: $('#image').val(),
                    Title: $('#title').val(),
                    Content: $('#content').val(),
                    VideoUrl: $('#videoUrl').val(),
                    Rating: 0,
                    Views: 0,
                    ReviewCount: 0,
                    CourseId: $('#courseSelect').val(),
                    CreatedAt: new Date().toISOString(),
                    UpdatedAt: new Date().toISOString()
                };

                fetch('/QuanLyBaiGiang/Create', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(lectureData)
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.success ? 'Bài giảng đã được thêm thành công!' : 'Có lỗi xảy ra khi thêm bài giảng.');
                        if (data.success) location.reload();
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
        //Clear dữ liệu
        function clearModalFields() {
            $('#addRowModal').find('input').val('');
        }
        //Thêm bài giảng

        //Xóa bài giảng
        function deleteLecture(lectureId) {
            if (confirm('Bạn có chắc chắn muốn xóa bài giảng này không?')) {
                fetch(`/QuanLyBaiGiang/Delete/${lectureId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': '@Html.AntiForgeryToken()'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Bài giảng đã được xóa thành công!');
                            location.reload();
                        } else {
                            alert('Có lỗi xảy ra khi xóa bài giảng.');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        }
    </script>
</body>

</html>
