@model IEnumerable<BTL.Data.Lecture>

@{
    Layout = "_TrangChu";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E_Learning | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/courses-master/courses-master/assets/img/favicon.ico">

    <!-- CSS here -->

    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slick.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/style.css">
    <!--End Css-->

</head>
<body>
    <p>
        <a asp-action="Create" class="btn hero-btn">Create New</a>
    </p>
    <div style="overflow-x: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LectureName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VideoUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Views)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReviewCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LectureName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VideoUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Views)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseId)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.LectureId" class="btn hero-btn">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.LectureId" class="btn hero-btn">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.LectureId" class="btn hero-btn">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
